section {
    padding-top: 20px;
    background-color: whitesmoke;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}
#navfont {
    color: whitesmoke;
}
.bgimage {
    height: 100vh;
    background-color: rgb(168, 110, 110);
    background-size: cover;
    position: relative 
}

.hero_title {
    font-size: 4rem;
}

.hero_desc {
    font-size: 1.5rem
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text,
.hero-text span {
    transition: color 0.3s ease;
}

.hero-text p:hover,
.hero-text span:hover {
    color: rgb(82, 10, 10);
}

.hero-text h2:hover,
.hero-text span:hover {
    color: purple;
}

.imageAboutPage {
    width: 100%;
}

#about p {
    position: relative; /* Positioning context for the overlay */
    z-index: 1; /* Ensure text is above overlay layer */
    transition: all 0.3s ease; /* Smooth transition effect */
}

/* CSS for overlay layer */
#about p::after {
    content: ''; /* Create a pseudo-element for the overlay */
    position: absolute; /* Position the overlay */
    top: 0; /* Position at the top of the paragraph */
    left: 0; /* Position at the left of the paragraph */
    width: 100%; /* Cover the entire width of the paragraph */
    height: 100%; /* Cover the entire height of the paragraph */
    background-color: rgba(237, 255, 72, 0.5); /* Semi-transparent white overlay */
    z-index: -1; /* Place the overlay behind the text */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* CSS for hover effect on overlay */
#about p:hover::after {
    opacity: 1; /* Show overlay on hover */
}

#iconclass{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    margin-bottom: 20px;
}

#icon{
    font-size: 120px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Initial and final position */
    }
    50% {
        transform: translateY(-10px); /* Bounce upward */
    }
}

#iconclass i:hover {
    animation: bounce 0.5s ease infinite;
}
.card-link {
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
}
#card-class {
    perspective: 1000px;
}

.card{
    position: absolute;
}

.card-front {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background-color: whitesmoke;
}

.card-back{
    transform: rotateY(180deg);
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    backface-visibility: hidden;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    background-color: rgb(168, 110, 110);
    
}

.card:hover .card-front {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.card:hover .card-back {
    transform: rotateY(0);
}

#project-desc{
    font-size: 16px;
    color: black;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    margin: 10px;
}


.card-img-top {
    min-width: 100%;
    min-height: 200px;
}

#contact {
    background-color: whitesmoke; /* Light background color */
}

#contactdetails i {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
}

#contactdetails p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #00070c;
    text-decoration: none;
}

#contactdetails a{
    color: #6c757d; /* Link color */
    text-decoration: none;
}

.contact-item:hover {
    transform: scale(1.1); /* Scale up on hover */
}

.contact-item:hover a {
    color: #007bff; /* Change link color on hover */
}
